<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<title>Movie form</title>
</head>
<body>
	<a href="/movie">View the list of movies</a>
	<h2>Movie Database</h2>
	<form action="#" th:action="@{/movie}" th:object="${movie}" method="post">
	Title: <input type="text" th:field="*{title}" />
		<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </span> <br />
	Rating: <input type="text" th:field="*{rating}" />
		<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"> </span> <br />
	Poster: <input type="text" th:field="*{poster}" />
		<span th:if="${#fields.hasErrors('poster')}" th:errors="*{poster}"> </span> <br />
	<input type="submit" value="Submit" />
	</form>
</body>
</html>