<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Movie form</title>
</head>
<body>
	<h2>Movie</h2>
	<form action="#" th:action="@{/movies}" th:object="${movie}" method="post">
	Movie Title: <input type="text" th:field="*{title}" />
		<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </span> <br />
	Name of rater: <input type="text" th:field="*{name}" />
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </span> <br />
	Rating: <input type="text" th:field="*{rating}" />
		<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"> </span> <br />
		<input type="submit" value = "submit" />
		</form>
</body>
</html>